@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Fira Sans", sans-serif;
}

:root {
  --bg-color: #fff7f9;
  --second-bg-color: #fffefe;
  --text-color: #5c0039;
  --main-color: #c00378;
}
.inactive {
  visibility: hidden !important;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #b4006f8c;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

section {
  min-height: 100vh;
  padding: 10rem 12%;
}

/* Header Section: */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;

  background: rgba(255, 200, 226, 0.306);
  backdrop-filter: blur(10px);

  .logo,
  .gradient-button,
  .navbar a,
  span {
    font-family: "Amaranth", sans-serif;
  }
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 4rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}

span {
  background: radial-gradient(rgb(255, 121, 18) 10%, #d90086);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);

  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;

  margin: 1rem;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* Profile Section: */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.profile-img img {
  width: 32vw;
  height: 32vw;
  object-fit: cover;

  background: #fdfffb;

  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.profile-img img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.profile-content h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 8rem;
  font-weight: 700;

  margin-top: 1.5rem;
  line-height: 1;
}
.profile-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}
.profile-content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
}

.professional-icons a {
  display: inline-flex;
  flex-direction: column;

  font-size: 1.5rem;
  text-align: center;

  .button-text {
    opacity: 0;
  }
}
.professional-icons i {
  display: inline-flex;

  padding: 1rem;
  margin: 3rem 0.6rem 0.7rem;

  background: radial-gradient(#ff87d1, rgb(255, 162, 91));
  border: 2px solid #ff009d96;
  border-radius: 35%;
  color: var(--main-color);

  transition: 0.3s ease-in-out;
}
.professional-icons svg {
  width: 4rem;
  height: 4rem;

  object-fit: cover;
  padding: 0.05em;
}
.professional-icons a:hover {
  i {
    background: radial-gradient(#f48835 40%, #fc46b6);
    transform: scale(1.15) translateY(-5px);

    box-shadow: 0 0 15px var(--main-color);
  }
  .button-text {
    opacity: 1;
    transition: 0.3 ease-in-out;
  }
}

/* Project Showcase Section: */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  background: var(--second-bg-color);
}

.projects h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 6rem;
}

.card-list .project-card {
  list-style: none;
}

.card-list .project-card .card-link {
  display: flex;
  gap: 1rem;

  width: 100rem;
  padding: 18px;
  border-radius: 12px;

  text-decoration: none;
  background: var(--main-color);
}

.card-list .project-card .project-img {
  display: inline-block;
  flex: 1;

  width: 50%;
  padding: 2rem;
}

.project-info {
  flex: 2;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
}
.project-info h2 {
  font-size: 4em;
}
.project-info h3 {
  font-size: 2.5em;
}
.project-info .project-desc {
  margin: 0.5em;
}

.project-card .tags {
  display: inline-flex;
  gap: 1.5em;

  list-style: none;
}
.project-card .tags li {
  color: var(--text-color);
  font-size: 1.25em;
  font-weight: 500;

  padding: 0.7em;

  border-radius: 1.5em;
}
.tags .field {
  background: rgb(255, 121, 18);
}
.tags .role {
  background: greenyellow;
}

.card-list .card-link .card-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;

  background: transparent;

  .arrow {
    width: 4em;
    padding: 0.5em;

    background: turquoise;
    border-radius: 50%;
  }

  span {
    opacity: 0;

    font-size: 1em;
  }
}
