@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Galindo&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Amaranth", serif;
}

:root {
  --bg-color: rgb(255, 255, 255);
  --second-bg-color: #e7f8fb;
  --text-color: rgb(9, 18, 18);
  --main-color: #c00378;
}
.inactive {
  visibility: hidden !important;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Header Section: */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;

  background: rgba(204, 248, 255, 0.3);
  backdrop-filter: blur(10px);
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(270deg, rgb(255, 121, 18) 10%, #d90086) 100%;
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);

  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;

  margin: 1rem;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;

  background: linear-gradient(270deg, #d90086 10%, rgb(255, 121, 18) 100%);
  color: azure;
  letter-spacing: 1px;
  text-wrap: nowrap;
  border: none;

  cursor: pointer;
  transition: 0.2s ease;
}
.gradient-button:hover {
  transform: scale(1.05);
}

/* Profile Section: */
section {
  min-height: 100vh;
  padding: 10rem 12%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.profile-img img {
  width: 32vw;
  height: 32vw;
  object-fit: cover;

  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.profile-img img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.profile-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.profile-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}
.profile-content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
}

.professional-icons a {
  display: inline-flex;
  flex-direction: column;

  font-size: 1.5rem;
  text-align: center;

  .button-text {
    opacity: 0;
  }
}
.professional-icons i {
  display: inline-flex;

  padding: 1rem;
  margin: 3rem 0.6rem 0.7rem;

  background: radial-gradient(#ff87d1, rgb(255, 162, 91));
  border: 2px solid #ff009d96;
  border-radius: 35%;
  color: var(--main-color);

  transition: 0.2s ease-in-out;
}
.professional-icons svg {
  width: 4rem;
  height: 4rem;

  object-fit: cover;
  padding: 0.05em;
}
.professional-icons a:hover {
  i {
    background: radial-gradient(#f48835 40%, #fc46b6);
    transform: scale(1.15) translateY(-5px);

    box-shadow: 0 0 15px #e60d92;
  }
  .button-text {
    opacity: 1;
    transition: 0.3 ease-in-out;
  }
}
